
/* panel  carrusel */
.panel_carousel{
    position:absolute;
    height: 300px;
    width: 100%;
    background: rgba(34, 192, 195, 0.466);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(83, 253, 45, 0.582) 100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel_carousel h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    color: antiquewhite;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 1);
    padding: 2%;
    margin: 3%;

}

.panel_carousel p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    padding: 1%;
    text-align: center;
    color: rgba(3, 37, 24, 0.658);
    text-shadow: 2px 2px 4px rgb(179, 182, 179);

}

